<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Home! <%= 9 + 10 %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate necessitatibus enim eos minus beatae vel veniam quaerat maiores
         harum itaque, eligendi reiciendis exercitationem, dolor optio totam soluta corporis recusandae quam?</p>
    <p>Oh look another paragraph lmao </p>
    
</body>
</html>