section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}


/* alpha affects only the element the rgba is on */
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 255, 123, 0.5);
}

/* opacity affects element and all nested elements */
#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.3;
}