h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: blue underline wavy ;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

a, h2 {
    color: brown;
}

p a {
    text-decoration: none;
}

#login {
    background-color: blueviolet;
}

button:hover {
    background-color: #9c6868;
    color: black;
}

button:active {
    background-color: aquamarine;
}

p a:hover {
    text-decoration: underline;
}

p:nth-of-type(2n + 1) {
    background-color: beige;
}